# Carpetas de compilación
bin/
obj/

# Configuraciones de Visual Studio y VS Code
.vs/
.vscode/
*.user
*.suo

# Archivos temporales
*.tmp
*.log

# Configuraciones de entorno
appsettings.Development.json
appsettings.*.local.json
*.Development.local.json